@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap'); 

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(5, 24, 8);
    display: flex;
    justify-content: flex-end;
}

main {
    width: calc(100% - 10px - 80px);
    background-color: white;
    position: absolute;
    right: 10px;
    top: 80px;
    margin-bottom: 80px;
    border-radius: 8px 0 0 8px;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 180px 1fr;
}

.div-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
}

.div-two {
    width: 100%;
    background-color: black;
    border-radius: 0 0 0 7px;
}

.div-three {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.product-inner {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
}

.text-inner {
    width: 220px;
    text-align: left;
}

.text-inner > p {
    color: rgb(201, 191, 191);
    font-size: 16px;
}

.img-inner {
    margin-bottom: 5px;
}

.div-one-name {
    margin-left: 30px;
}

.div-one-logo {
    width: 280px;
    height: 100%;
    background-color: rgb(112, 221, 221);
    border-radius: 8px 0 0 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    color: white;
    font-size: 4rem;
    font-family: 'Spicy Rice', cursive;
    width: 280px;
}

.name {
    color: black;
    font-size: 3rem;
}

.menu-title, .menu-title-two {
    color: rgb(119, 116, 116);
    font-size: 1rem;
    height: 80px;
    left: 50px;
    font-weight: bold;
    text-align: left;
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

.menu-title-two {
    padding-top: 50px;
}

.li-top {
    position: relative;
    display: block;
    width: 270px;
    left: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.a-top {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
}

.vertical-line {
    width: 5px;
    background-color: black;
    height: 50px;
    margin-right: 30px;
}

.li-top:hover {
    background-color: white;
}

.li-top:hover a {
    color: black;
}

.li-top:hover .vertical-line {
    background-color: rgb(112, 221, 221);
}

.li-top:hover .number-p {
    color: white;
}

.number-p {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(104, 69, 69);
    margin-left: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.li-bottom {
    position: relative;
    display: block;
    width: 270px;
    left: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.a-bottom {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
}

.a-bottom:hover {
    color: rgb(119, 116, 116);
}

.info-one {
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}

.info-under {
    color: rgb(119, 116, 116);
    margin-left: 50px;
}

.star {
    height: 14px;
    margin-right: 5px;
}

.div-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu-one:hover {
    color: rgb(112, 221, 221);
}

.search {
    position: relative;
    margin-right: 20px;
}

.search input {
    border: none;
}

.search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

.search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
    outline: none;
}

.search .submit:hover {
    opacity: 0.8;
}

input[type="search"] {
    -webkit-appearance: none;
}

@media (max-width: 1100px) {
    .div-main {
        flex-direction: column;
    }

    .search {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.img-inner {
    transition: transform 1s, background-color 1s;
}

.img-inner:hover {
    transform: scale(1.03);
    cursor: pointer;
    filter: brightness(70%);
}
